<div class="user_show_img">
  <h2>会員情報</h2>
    <div class="container">
      <div class="row">
        <table class="table">
          <tr>
            <th>プロフィール画像</th>
            <td><%= attachment_image_tag @user, :profile_picture, fallback: "no_image.png", size:"150x150"%>
            </td>
          </tr>

          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <th>紹介文</th>
            <td><%= @user.introduction %></td>
          </tr>

          <tr>
            <th>ステータス</th>
            <td>
               <% if @user.user_status == false %>
          　     <div>興味あり</div>
          　     <% else %>
          　     <div>巡礼中</div>
          　   <% end %>
            </td>
          </tr>
        </table>
      </div>

<!--フォロワー機能-->
      <div class="row">
        <div class="col">
          <% if current_user.following?(@user) %>
            <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete, class:"btn btn-info" %>
          <% else %>
            <%= link_to "Follow!!", user_relationships_path(@user.id), method: :post, class:"btn btn-warning" %>
          <% end %>

          <div>フォロー数: <%= @user.followings.count %></div>
          <div>フォロワー数: <%= @user.followers.count %></div>
        </div>
        <div class="col">
          <!--自分以外のユーザーが編集できないように-->
          <% if @user.id == current_user.id %>
          <%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %>
          <% end %>
          <%= link_to "戻る", temples_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
</div>