<h2>会員情報</h2>

<table class="table">

  <tr>
    <th>プロフィール画像</th>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.png" %></td>
  </tr>

  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>一言</th>
    <td><%= @user.introduction %></td>
  </tr>

  <tr>
    <th>ステータス</th>
    <td>
       <% if @user.user_status == false %>
  　     <div>興味あり</div>
  　     <% else %>
  　     <div>巡礼中</div>
  　   <% end %>
    </td>
  </tr>

</table>

<%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %>

<%= link_to "戻る", users_path, class:"btn btn-primary" %>