<h2>会員情報</h2>

<table class="table">

  <tr>
    <th>プロフィール画像</th>
    <%#= @user.profile_picture_id %>
    <%#= image_tag @user.profile_picture_id, :profile_picture, fallback: "no_image.png", size:'100x100' %>
    <%#= attachment_field @user.profile_picture_id %>
    <%#= image_tag attachment_url(@user, :profile_picture_id, :fill, 300, 300, format: "jpg", fallback: "no_image.png") %>

    <td><%= attachment_image_tag @user, :profile_picture, fallback: "no_image.png", size:"150x150"%>
    <%#= f.attachment_field :profile_picture, placeholder: "プロフィール画像" %>
    </td>
  </tr>

  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>紹介文</th>
    <td><%= @user.introduction %></td>
  </tr>

  <tr>
    <th>ステータス</th>
    <td>
       <% if @user.user_status == false %>
  　     <div>興味あり</div>
  　     <% else %>
  　     <div>巡礼中</div>
  　   <% end %>
    </td>
  </tr>

</table>

<% if current_user.following?(@user) %>
  <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete, class:"btn btn-danger" %>
<% else %>
  <%= link_to "Follow", user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
<% end %>

<div>フォロー数: <%= @user.followings.count %></div>
<div>フォロワー数: <%= @user.followers.count %></div>

<%= link_to "編集する", edit_user_path(@user), class:"btn btn-success" %>

<%= link_to "戻る", users_path, class:"btn btn-primary" %>