<h5>お問い合わせフォーム</h5>

<%= form_with model: @contact do |f| %>
  <%= f.label :お名前 %><br>
  <%= f.text_field :name %><br>
  <%= f.label :お問い合わせ内容 %><br>
  <%= f.text_field :message %><br>

<% end %>

<%= link_to '送信', thanks_path %>