<div class="container">
  <div class="row">
     <%= render('searches/search') %>
  </div>
<div class="row">
    <div class="col-5">
      <%= form_with model:@temples2,url: temples_path, local:true do |f| %>
      <table>
        <tr>
          <th><%= f.label :prefecture, "県名" %></th>
          <td>
          <%= f.radio_button(:prefecture, "徳島県") %> 徳島県
          <%= f.radio_button(:prefecture, "高知県") %> 高知県
          <%= f.radio_button(:prefecture, "愛媛県") %> 愛媛県
          <%= f.radio_button(:prefecture, "香川県") %> 香川県
          </td>
        </tr>
        <tr>
          <th><%= f.label :temple_name, "お寺の名前" %></th>
          <td><%= f.collection_select(:temple_name, @temples, :temple_name, :temple_name) %></td>
        </tr>
        <tr>
          <th><%= f.label :opinion, "内容" %></th>
          <td><%= f.text_field :opinion %></td>
        </tr>
        <tr>
          <th><%= f.label :temple_image, "画像" %></th>
          <td><%= f.attachment_field :temple_image %></td>
        </tr>
      </table>
      <%= f.submit "投稿", class: 'btn btn-success'%>
      <% end %>
    </div>

    <div class="col-7">
      <table class="table">
        <% @temple_view.each do |temple| %>
        <tr>
          <th>県</th>
          <td><%= temple.prefecture %></td>
        </tr>
        <tr>
          <th>お寺の名前</th>
          <td><%= link_to temple.temple_name, temple_path(temple) %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= temple.opinion %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td><%= attachment_image_tag temple, :temple_image, :fill, 100, 100, fallback: "no_image.png", size:'100x100' %></td>
        </tr>
        <tr>
          <td>
          <div id="fav_btn">
           <%= render('favorites/favorite') %>
          </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
 $('#temple_name > option').hide();
     $('#temple_prefecture_徳島県').change(function() {
         $('#temple_temple_name > option').hide();
        console.log( $(this).val() );
        <% @temples[0..22].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
         $('#temple_prefecture_高知県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[23..38].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
     $('#temple_prefecture_愛媛県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[39..64].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
     $('#temple_prefecture_香川県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[65..88].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
</script>