<div class="container">
  <!--検索機能-->
  <div class="row">
     <%= render 'searches/search', search_result_temple: @search_result_temple %>
  </div>
  <div class="row">
    <!--投稿フォーム-->
    <div class="post_form">
      <div class="shadow p-3 mt-4 col-xs-5 bg-white rounded">
        <div class="post_img">
          <%= form_with model:@temples2,url: temples_path, local:true do |f| %>
          <table>
            <tr>
              <h3>投稿フォーム⤵</h3>
            </tr>
            <tr>
              <th><%= f.label :prefecture, "県名" %></th>
              <td>
              <%= f.radio_button(:prefecture, "徳島県") %> 徳島県
              <%= f.radio_button(:prefecture, "高知県") %> 高知県
              <%= f.radio_button(:prefecture, "愛媛県") %> 愛媛県
              <%= f.radio_button(:prefecture, "香川県") %> 香川県
              </td>
            </tr>
            <tr>
              <th><%= f.label :temple_name, "お寺の名前" %></th>
              <td><%= f.collection_select(:temple_name, @temples, :temple_name, :temple_name) %></td>
            </tr>
            <tr>
              <th><%= f.label :opinion, "内容" %></th>
              <td><%= f.text_area :opinion, rows:'5' %></td>
            </tr>
            <tr>
              <th><%= f.label :temple_image, "画像" %></th>
              <td><%= f.attachment_field :temple_image %></td>
            </tr>
          </table>
          <%= f.submit "投稿", class: 'btn btn-success'%>
          <% end %>
        </div>
      </div>
    </div>

　　<!--投稿一覧-->

    <div class="shadow p-5 mt-3 col-sm-7 bg-white rounded">
      <div class="index_img">
        <table class="table">
          <tr>
            <h3>投稿一覧⤵</h3>
          </tr>
            <% @temples_views.each do |temple| %>
        　<tr>
        　  <th>
        　 <i class="far fa-compass fa-2x"></i>
        　  </th>
          </tr>
          <tr>
            <th>県</th>
            <td><%= temple.prefecture %></td>
          </tr>
          <tr>
            <th>お寺の名前</th>
            <td><%= link_to temple.temple_name, temple_path(temple) %></td>
          </tr>
          <tr>
            <th>内容</th>
            <td><%= temple.opinion %></td>
          </tr>
          <tr>
            <th>画像</th>
            <td><%= attachment_image_tag temple, :temple_image, format: "jpeg",  fallback: "no_image.png", size:"100x100" %></td>
          </tr>
          <!--いいね機能-->
          <tr>
            <td>
            <div id="favorites_buttons_<%= temple.id %>">
             <%= render 'favorites/favorite', temple: temple %>
            </div>
            </td>
            <td>
              <%= link_to "#{temple.temple_comments.count} コメント", temple_path(temple.id) %>
            </td>
          </tr>
          <% end %>
        </table>

        <!--ページネーション-->
        <div class="pagination justify-content-center">
          <%= paginate @temples_views, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
 $('#temple_name > option').hide();
     $('#temple_prefecture_徳島県').change(function() {
         $('#temple_temple_name > option').hide();
        console.log( $(this).val() );
        <% @temples[0..22].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
         $('#temple_prefecture_高知県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[23..38].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
     $('#temple_prefecture_愛媛県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[39..64].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
     $('#temple_prefecture_香川県').change(function() {
           $('#temple_temple_name > option').hide();
          console.log( $(this).val() );
        <% @temples[65..88].each do |temple_id| %>
        $('#temple_temple_name > option[value="<%= temple_id.temple_name %>"]').show();
        <% end %>
    });
</script>