<h2>投稿詳細</h2>

<table class="table">

<tr>
  <th>県名</th>
  <td><%= @temple.prefecture %></td>
</tr>
<tr>
  <th>お寺の名前</th>
  <td><%= @temple.temple_name %></td>
</tr>
<tr><th>内容</th>
<td><%= @temple.opinion %></td>
</tr>
<tr>
  <th>画像</th>
  <td><%= attachment_image_tag @temple, :temple_image, :fill, 200, 200, fallback: "no_image.png" %></td>
</tr>
<tr>
  <div id="fav_btn">
  <%= render('favorites/favorite') %>
  </div>
</tr>
</table>

<%= link_to '編集する', edit_temple_path(@temple), class:"btn btn-success" %>

<%= link_to '削除', temple_path(@temple.id), method: :delete, class:"btn btn-danger" %>

<%= link_to '戻る', temples_path, class:"btn btn-primary" %>